* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
      scroll-behavior: smooth;
}

body {
    width: 100vw;
    background-color: #111111;
}

header {
    width: 100%;
    height: 50px;
    background-color: black;
    border-bottom: 2px solid red;
}

.nav-button {
    width: 100px;
    height: 30px;
}