@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-font: 'Source Sans Pro', sans-serif;
  --header-h: 100px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  font-family: var(--main-font);
  overflow-x: hidden;
}

body {
  background-color: black;
  width: 100vw;
  color: white;
  min-height: 100vh;
}

header {
  height: var(--header-h);
}

.page {
  @apply w-screen h-screen pt-[var(--header-h)];

}

.bg-grad {
  background: linear-gradient(-45deg, #8b000080, #00000080, #8b000080);
  background-size: 400% 400%;
  animation: gradientBG 6s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.center-div {
  @apply flex justify-center items-center;
}

.btb {
  background-color: rgba(0, 0, 0,0.5);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
}

.rtb {
  background-color: rgba(139, 0, 0,0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
}