.frame {
    background-color: rgba(139, 0, 0,0.2);
    border: 1px solid rgba(255, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
}

.frame:hover {
  transform: translate(0, -4px); 
  border: 2px solid red;
  box-shadow: 
    0 0 5px red,
    0 0 10px red,
    0 0 15px red;
}

.flex-row {
    display: flex;
    flex-direction: column;
    gap: 25px;
}