.frame {
    background-color: rgba(139, 0, 0,0.2);
    border: 1px solid rgba(255, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
}

.frame-black {
    background-color: rgba(0, 0, 0,0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
}

.frame:hover {
  transform: translate(0, -4px); 
  border: 2px solid red;
  box-shadow: 
    0 0 5px red,
    0 0 10px red,
    0 0 15px red;
}

.red {
    color: red;
}

.lightgray {
    color: lightgray;
}

.red-icon {
    width: 100%;
    filter: brightness(0) saturate(100%) invert(19%) sepia(91%) saturate(7455%) hue-rotate(4deg) brightness(98%) contrast(112%);
    cursor: pointer;
}