.frame {
    background-color: rgba(139, 0, 0,0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 15px;
}

.frame:hover {
  transform: translate(0, -8px); 
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.7);
}

.flex-row {
    display: flex;
    flex-direction: column;
    gap: 25px;
}